---
import placeholderImage from '../../../public/assets/5.webp';
import SideNavigation from './SideNavigation.astro';

const sections = [
  {
    id: 'client-background',
    title: 'Client Background',
    content: `my client is a researcher at a university in Canada, and he wants to use this project for both research purposes and as a source of income.
              He has the idea that we can improve remote workspaces using sounds and different techniques.
              He also has good connections in the research market, so he wants to use that to generate more income.`,
  },
  {
    id: 'client-requirements',
    title: 'Client Requirements',
    content: `To design a mobile app that uses sound to destress and increase the work quality and productivity of remote workers. It is to be used for research purposes, and to have the data sold later to research centers and universities.
              The project also has potential for future growth as a subscription-based model.
              The data will be collected with the knowledge of the users, and won't be used without their consent. Privacy considerations are key.`,
  },
  {
    id: 'problem-statement',
    title: 'Problem Statement',
    content: `I am a leader in my company, and I want to fix remote worker disconnection. I'm trying to align my team so they are in better sync, happier, and more productive—loving their job and their colleagues.
              However, remote workers are challenged to connect and openly share/engage to build true team synchronicity. 
              The recent challenges of remote work have only worsened social isolation and loneliness, which reduces creativity and increases turnover intention.`,
  },
  {
    id: 'business-goals',
    title: 'Business Goals',
    content: `
      <ul class="list-disc pl-5 space-y-2 text-primary-400 dark:text-primary-400">
        <li>To have enough users for testing AI models, selling them, and offering analytics to research centers and universities.</li>
        <li>To keep the users engaged long-term.</li>
        <li>To make deals with large remote teams.</li>
      </ul>
    `,
  },
  {
    id: 'project-goals',
    title: 'Project Goals',
    content: `To craft an intuitive UI that seamlessly addresses user needs, resolves pain points, and elevates the user experience. Our mission is to create a delightful journey that captivates users and inspires lasting engagement.`,
  },
  {
    id: 'hypotheses',
    title: 'Hypotheses',
    content: `
      <ul class="list-disc pl-5 space-y-2 text-primary-400 dark:text-primary-400">
        <li class="text-primary-400 dark:text-primary-400"> Remote workers often feel disconnected in their workplaces.</li>
        <li class="text-primary-400 dark:text-primary-400"> Listening to music or sounds can help alleviate stress in remote workplaces.</li>
        <li class="text-primary-400 dark:text-primary-400"> Listening to music increases worker productivity and work quality.</li>
        <li class="text-primary-400 dark:text-primary-400"> Users are willing to use an app to listen to sounds that may seem strange (not music), but are proven to reduce stress and enhance productivity.</li>
        <li class="text-primary-400 dark:text-primary-400"> The target audience includes tech-savvy youth aged 25-40 who work remotely.</li>
      </ul>
    `,
  },
];
---


<main class="lg:max-w-7xl md:max-w-2xl w-full mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <div class="lg:flex lg:gap-10 ">
    <!-- Side Navigation -->
    <aside class="lg:w-64 hidden lg:block flex-shrink-0">
      <SideNavigation />
    </aside>

    <!-- Main Article -->
    <article class="mt-10 lg:mt-0 lg:flex-grow w-full lg:w-[70%] gap-10 align-middle object-center justify-items-center items-center flex-auto">
      <img src="../../../public/assets/4.webp" alt="Chart" class="rounded-lg shadow-md mt-4 mb-12 w-full h-40 object-cover">
      <h1 class="text-6xl font-extrabold mb-8 text-primary-900 dark:text-white">Sanarte Case Study</h1>
      <hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">


<div id="project-overview">
  <h2 class="text-2xl font-semibold mb-4 text-primary-900 dark:text-white">Project overview</h2>

      <!-- Dynamic Sections -->
      {
        sections.map((section) => (
          <section id={section.id} class="mb-4">
            <h3 class="text-xl font-medium mb-4 text-primary-900 dark:text-primary-300">{section.title}</h2>
            <p class="text-primary-400 dark:text-primary-400" set:html={section.content}></p>
          </section>
        ))
      }</div>

<hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="the-plan">

      <!-- Table Section Example -->
      <section class="mb-12 max-w-full ">
        <h2 class="text-2xl font-semibold mb-4 text-primary-900 dark:text-white">The plan</h2>
        <div class="max-w-full overflow-x-auto rounded-xl">
          <table class="w-full bg-primary-800 rounded-xl divide-y divide-primary-600 dark:divide-primary-600">
            <thead class="bg-primary-800 dark:bg-primary-800 rounded-xl">
                    <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Method</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Type</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Related Hypotheses</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Why</th>
              </tr>
            </thead>
            <tbody class="bg-primary-900 divide-y-2 divide-primary-800 dark:bg-primary-900 dark:divide-primary-800 rounded-xl">
              <tr>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Competitor Analysis</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Exploratory</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">N/A</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To see what the competitors are doing, and what to learn from them</td>
              </tr>
              <tr>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Literature review (online search)</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Exploratory</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Remote workers often feel disconnected in their workplaces</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">We are short on time on this project, and the client pays by day, so it will cost him a lot of time to have a survey of a big sample (also if these surveys are available from credible sources, and bigger sample why would I make my own survey)</td>
              </tr>
              <tr>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Literature review (online search)</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Exploratory</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">My target audience are youth from the age of 25-40 who work remotely, and are tech-savvy</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">We are short on time on this project, and the client pays by day, so it will cost him a lot of time to have a survey of a big sample (also if these surveys are available from credible sources, and bigger sample why would I make my own survey)</td>
              </tr>
              <tr>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Literature review (research papers)</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Exploratory</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Listening to music or sounds can help alleviate stress in remote workplaces.</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">This is a more credible source of information. Also, my client is a researcher, so they know how to work with me and support this step.</td>
              </tr>
              <tr>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Literature review (research papers)</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Exploratory</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Listening to music increases worker productivity and work quality.</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">This is a more credible source of information. Also, my client is a researcher, so they know how to work with me and support this step.</td>
              </tr>
              <tr>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">User Interviews</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Exploratory</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4  text-sm text-primary-200">Users are willing to use an app to listen to sounds that may seem strange (not music), but are proven to reduce stress and enhance productivity.</td>
                <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">This is to verify with the users if this is scientifically proven to really help them, will they really use it, and what is the best channel to make it in.</td>
              </tr>
            </tbody>
          </table>
                  </div>
      </section>

      <!-- Table Section Example -->
</div>
<hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="competitor-analysis">

  <section id="competitor-analysis" class="mb-12 max-w-full ">
    <h2 class="text-2xl font-semibold mb-4 text-primary-900 dark:text-white">Competitor Analysis</h2>
        <div class="max-w-full overflow-x-auto rounded-xl">
      <table class="w-full bg-primary-800 rounded-xl divide-y divide-primary-600 dark:divide-primary-600">
        <thead class="bg-primary-800 dark:bg-primary-800 rounded-xl">
<tr>
    <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Company Name</th>
    <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Calm</th>
    <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">HeadSpace</th>
    <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Mindfi</th>
  </tr>
</thead>
<tbody class="bg-primary-900 divide-primary-700 dark:bg-primary-900 dark:divide-primary-700">
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200 bg-primary-800">Users</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200 bg-primary-800"> </td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200 bg-primary-800"> </td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200 bg-primary-800"> </td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">Primary Target audience</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">General users seeking mindfulness and relaxation.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">General users seeking mindfulness and meditation.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Young professionals seeking mindfulness and stress relief.</td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">Customer reviews</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">PlayStore (4.1)<br>Appstore (4.8)<br>High ratings and positive feedback on ease of use, variety of meditation content, and sleep aids.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">PlayStore (3.3)<br>AppStore (4.8)<br>Good reviews praising guided meditation, user-friendly interface, and personalized content.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">PlayStore (4.0)<br>AppStore (4.7)<br>Positive reviews highlighting unique features, customizable meditations, and mood-based recommendations.</td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200 bg-primary-800">Product</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200 bg-primary-800"> </td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200 bg-primary-800"> </td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200 bg-primary-800"> </td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">USP's</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Guided meditations, sleep stories, breathing exercises, and calming music.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Structured meditation courses, mindful exercises, and SOS mini-sessions for on-the-go relaxation.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">AI-powered personalized mindfulness programs, ambient soundscapes, and mood tracking.</td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">Feature List</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">- Guided meditations and sleep stories.<br>- Breathing exercises and relaxing music.<br>- Masterclasses and programs on stress, anxiety, and sleep.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">- Guided meditation courses.<br>- Mindful exercises and SOS sessions.<br>- Sleep sounds and music.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">- AI-driven personalized mindfulness plans.<br>- Ambient soundscapes and sleep stories.<br>- Mood tracking and journaling.</td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">Product strengths</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Extensive library of calming content.<br>Effective sleep aid features.<br>Well-designed and intuitive interface.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Structured and beginner-friendly meditation programs.<br>Credible and renowned meditation experts.<br>Wide range of content for different needs.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Personalized mindfulness programs.<br>Innovative AI technology.<br>Mood-based recommendations.</td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">Product weaknesses</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Some premium content requires subscription.<br>Free version has limited features.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Limited free content and features.<br>Occasional performance issues.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Smaller user base and brand recognition.<br>Less content variety compared to competitors.</td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">Free version?</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Offers a free version with limited features and content.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Provides a limited free trial.<br>Access to more features with a subscription.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Offers a free version with basic features and limited content.</td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200 bg-primary-800">UI Foundation</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200 bg-primary-800"> </td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200 bg-primary-800"> </td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200 bg-primary-800"> </td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">Tone of voice</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Calming, soothing, and serene.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Friendly, approachable, and informative.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Modern, tech-savvy, and youthful.</td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">Color scheme</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Soft pastel colors, shades of blue and green, and earthy tones.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Bright and vibrant colors, gradients, and playful elements.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Bold and energetic colors, dynamic gradients, and contrasting accents.</td>
  </tr>
  <tr>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 whitespace-nowrap text-sm text-primary-200">Interaction</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Simple and intuitive interface.<br>Minimalistic navigation and easy-to-use controls.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Step-by-step guidance and progress tracking.<br>User interaction through animations and prompts.</td>
    <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Personalized recommendations and adaptive program adjustments.<br>Interactive elements and progress tracking.</td>
  </tr>
</tbody>
      </table>
    </div>
  </section>
</div>
<hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="literature-review">
  <section class="mb-12 max-w-full">
    <h2 class="text-2xl font-semibold mb-4 text-primary-900 dark:text-white">Literature Review</h2>
  
    <div class="space-y-6">
      <!-- Remote Workers Feeling Disconnected -->
      <div>
        <h3 class="text-lg font-medium text-primary-200 dark:text-primary-200">1- Remote workers often feel disconnected at their workplaces</h3>
        <ul class="list-disc pl-5 space-y-2 text-primary-400 dark:text-primary-400">
          <li>30% of business leaders stated that maintaining corporate culture is their biggest concern.</li>
          <li>29% of business leaders have not implemented measures to track productivity remotely.</li>
          <li>91% of remote workers who experienced increased efficiency and productivity in the last six months also regularly engage in wellness activities.</li>
          <li>80% of remote workers would consider quitting their current position for a job that focuses more on employees' mental health.</li>
        </ul>
      <div class="flex flex-row w-full gap-8 flex-wrap">
        <img src="../../../public/assets/Projects/Sanarte/1.webp" alt="Chart" class="rounded-lg shadow-md mt-4 aspect-square w-64 h-64">
        <img src="../../../public/assets/Projects/Sanarte/2.webp" alt="Graph" class="rounded-lg shadow-md mt-4 aspect-square w-64 h-64">
      </div>
      </div>
  
      <!-- Target Audience -->
      <div>
        <h3 class="text-lg font-medium text-primary-200 dark:text-primary-200">2- My target audience is youth aged 25-40 who work remotely and are tech-savvy</h3>
        <div class="flex flex-row w-full gap-8 flex-wrap">
          <img src="../../../public/assets/Projects/Sanarte/4.webp" alt="Chart" class="rounded-lg shadow-md mt-4 aspect-square w-64 h-64">
          <img src="../../../public/assets/Projects/Sanarte/5.webp" alt="Graph" class="rounded-lg shadow-md mt-4 aspect-square w-64 h-64">
          <img src="../../../public/assets/Projects/Sanarte/6.webp" alt="Graph" class="rounded-lg shadow-md mt-4 aspect-square w-64 h-64">
        </div>
        </div>
  
      <!-- Listening to Music for Stress Relief -->
      <div>
        <h3 class="text-lg font-medium text-primary-200 dark:text-primary-200">3- Listening to music or sounds can help alleviate stress in remote workplaces</h3>
        <ul class="list-disc pl-5 space-y-2 text-primary-400 dark:text-primary-400">
          <li>Research suggests that smartphone-based mindfulness apps offer a similar degree of improvement as in-person programs, with the added benefit of convenience and continued use.</li>
          <li>According to Stanford researchers, "listening to music seems to be able to change brain functioning to the same extent as medication," making music an accessible stress reduction tool.</li>
          <li>Th eNational Alliance on Mental Illness notes that while music can match our mood, it can also keep us stuck in negative emotional states like depression or anxiety.</li>
          <li>Jordan Eller suggests that complex tasks might be better suited to music without lyrics, as it can prevent distractions .</li>
        </ul>
      </div>
  
      <!-- Listening to Music for Productivity -->
      <div>
        <h3 class="text-lg font-medium text-primary-200 dark:text-primary-200">4- Listening to music increases worker productivity and work quality</h3>
        <ul class="list-disc pl-5 space-y-2 text-primary-400 dark:text-primary-400">
          <li>Music can influence creative tasks, affecting mark-making and color choices in visual work.</li>
          <li>Music has well-studied psychological benefits, such as relaxing the mind and energizing the body .</li>
          <li>Dr. Jeffrey Thompson of The Center for Neuroacoustic Research explains that sound can increase creativity and productivity.</li>
          <li>A study by Mindlab International found that 88% of people had improved accuracy and 81% completed tasks faster when listening to music .</li>
        </ul>
      </div>
    </div>
  </section>
  
</div>

<hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="user-interviews">
  <section class="mb-12 max-w-full">
    <h2 class="text-2xl font-semibold mb-4 text-primary-900 dark:text-white">User Interviews</h2>
  
    <!-- Participants -->
    <div class="mb-8">
      <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-200">Participants</h3>
      <p class="text-primary-400 dark:text-primary-400 mb-4">
        Which user types will you reach out to for this research?
      </p>
          <div class="max-w-full overflow-x-auto rounded-xl">
        <table class="w-full bg-primary-800 rounded-xl divide-y divide-primary-600 dark:divide-primary-600">
          <thead class="bg-primary-800 dark:bg-primary-800 rounded-xl">
      <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Aspect</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Details</th>
          </tr>
        </thead>
        <tbody class="bg-primary-900 divide-y divide-primary-700 dark:bg-primary-900 dark:divide-primary-700">
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max  px-6 py-4 text-sm text-primary-200">Target Users</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">- Members of virtual teams<br>- Mainly in the USA<br>- Small, medium, and large teams</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Recruiting Method</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Through Social Media and ADPlist</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Participation Request Text</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">
              Sanarte is researching our users. We would like you to participate in an interview with small activities. The goal is to understand how you think and interact with our service so we can make improvements.<br><br>
              The interview will take approximately 30 minutes.
            </td>
          </tr>
        </tbody>
      </table></div>
    </div>
  
    <!-- Interview Plan -->
    <div class="mb-6">
      <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-200">The Interview Plan</h3>
      <p class="text-primary-400 dark:text-primary-400">
        A semi-structured interview consists of 4 components: introductory script, warm-up questions, and substantive questions. Each component serves a specific purpose and is done in order to perform a proper interview.
      </p>
  
      <!-- Introductory Script -->
      <div class="mt-6">
        <h4 class="text-lg font-semibold text-primary-700 dark:text-primary-400 mb-4">Introductory Script</h4>
            <div class="max-w-full overflow-x-auto rounded-xl">
          <table class="w-full bg-primary-800 rounded-xl divide-y divide-primary-600 dark:divide-primary-600">
            <thead class="bg-primary-800 dark:bg-primary-800 rounded-xl">
              <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Component</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Purpose</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Content</th>
            </tr>
          </thead>
          <tbody class="bg-primary-900 divide-y divide-primary-700 dark:bg-primary-900 dark:divide-primary-700">
            <tr>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Introductory script</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To open the interview and cover the necessary information</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">
                Hi, my name is Maher Fayad, and I am a Product Designer. Thank you for participating in this interview.
              </td>
            </tr>
            <tr>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Remind researcher of the study goal</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To clarify the interview's purpose</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">
                The goal is to learn more about remote workplaces, to help design an app that enhances remote worker productivity and connection.
              </td>
            </tr>
            <tr>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Gain recording consent</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To obtain permission to record</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">
                Do you give permission for this interview to be recorded (both video and audio)? Recordings will be accessed by me and the client only.
              </td>
            </tr>
          </tbody>
        </table></div>
      </div>
  
      <!-- Warm-up Questions -->
      <div class="mt-6">
        <h4 class="text-lg font-semibold text-primary-700 dark:text-primary-400">Warm-up Questions</h4>
            <div class="max-w-full overflow-x-auto rounded-xl">
          <table class="w-full bg-primary-800 rounded-xl divide-y divide-primary-600 dark:divide-primary-600">
            <thead class="bg-primary-800 dark:bg-primary-800 rounded-xl">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Component</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Purpose</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Content</th>
            </tr>
          </thead>
          <tbody class="bg-primary-900 divide-y divide-primary-700 dark:bg-primary-900 dark:divide-primary-700">
            <tr>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Warm-up question</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To build rapport and ease the participant into the interview</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Do you prefer to work in person or remotely? Why?</td>
            </tr>
            <tr>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Topic focus</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To focus on easy topics first</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">What is your typical workday?</td>
            </tr>
            <tr>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">On-topic simple questions</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To ask simple yet relevant questions</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">How have you felt disconnected in team environments, and why?</td>
            </tr>
          </tbody>
        </table></div>
      </div>
  
      <!-- Substantive Questions -->
      <div class="mt-6">
        <h4 class="text-lg font-semibold text-primary-700 dark:text-primary-400">Substantive Questions</h4>
            <div class="max-w-full overflow-x-auto rounded-xl">
          <table class="w-full bg-primary-800 rounded-xl divide-y divide-primary-600 dark:divide-primary-600">
            <thead class="bg-primary-800 dark:bg-primary-800 rounded-xl">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Component</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Purpose</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider">Content</th>
            </tr>
          </thead>
          <tbody class="bg-primary-900 divide-y divide-primary-700 dark:bg-primary-900 dark:divide-primary-700">
            <tr>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Substantive question</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To dive deeper into the participant's experience</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Under what circumstances do you feel most connected to your team? Does this drive happiness and success?</td>
            </tr>
            <tr>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Provoking thoughts</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To provoke more thoughts in the participant</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Are there ways you’ve developed to enhance team cohesion and productivity?</td>
            </tr>
            <tr>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Competitor insights</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">To gain insights into competitors' tools</td>
              <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">
                Do you use any apps or sites like YouTube for music or sounds while working? If yes, is it to pass time, increase productivity, or for focus?
              </td>
            </tr>
          </tbody>
        </table></div>
      </div>
    </div>
  
    <!-- Findings & Analysis -->
    <div class="mb-8">
      <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-200">Findings & Analysis</h3>
      <p class="text-primary-400 dark:text-primary-400">
        I interviewed 5 participants: 4 from the United States and 1 from Egypt. Three of them are remote workers, 1 is a manager, and 1 owns a consultancy.
      </p>
      <ul class="list-disc pl-5 space-y-2 text-primary-400 dark:text-primary-400 mt-4">
        <li>Some team members get distracted by sound.</li>
        <li>A notification asking them to take a breath and destress would be helpful.</li>
        <li>Many in-office teams use office radio, so integrating a tool to reunite onsite and remote groups could be valuable.</li>
        <li>One interviewee suggested integrating with an existing music app.</li>
        <li>Most interviewees mentioned Slack and Microsoft Teams as their main communication tools.</li>
        <li>Team internal talk is widely used for personal connection.</li>
        <li>Analytics on team health, such as mental health indicators, could be useful.</li>
        <li>Offering team activities like group meditation could foster connection.</li>
        <li>One participant suggested having a team-shared playlist to create a unified vibe.</li>
      </ul>
    </div>
  </section>
  



</div>

<hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="conclusion">
<section class="mb-12">
<div class="mb-8">
  <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-200 mb-4">Conclusion</h3>
  <p class="text-primary-400 dark:text-primary-400">
    Based on the interviews conducted and the competitor analysis, several key findings have emerged. Firstly, while the proposed mindfulness app aims to provide a soothing and stress-relieving experience, it's important to consider potential distractions for some team members. To address this, incorporating a notification feature that prompts users to take a breath and destress could be a valuable addition. </br>
  </br>Additionally, many teams in office environments rely on office radios for a sense of unity. Integrating the app with an existing music app could help bridge the gap between onsite and remote groups, fostering a shared experience. </br> 
  </br> Considering the popularity of messaging platforms like Slack and Microsoft Teams among the interviewees, seamless integration with these platforms would enhance accessibility and convenience for users.
  </br></br> Team internal communication emerged as a vital aspect of maintaining personal connections. Offering a space for teams to engage in activities together, such as group meditation followed by brief discussions, could contribute to team bonding and mental well-being.
  </br> </br>Analytics related to team mental health, such as weekly or monthly reports, would provide valuable insights for both individual team members and team leaders to identify patterns and take proactive measures.
  </br></br> Finally, one interviewee expressed the desire for a shared music playlist to foster a cohesive team vibe. Integrating a feature that allows teams to share and enjoy music together could further enhance the sense of unity and promote a positive work environment.
  </br></br> By taking these findings into account and incorporating them into the app's development, it will be possible to create a holistic and engaging mindfulness experience that caters to the needs of both onsite and remote teams while promoting mental well-being and team cohesion.
</p>
</div></section></div>

<hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="recommendations">
<section class="mb-12">
<div class="mb-8">
  <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-200">Recommendations</h3>
  <ol class="list-decimal pl-5 space-y-2 text-primary-400 dark:text-primary-400 mt-4">
    <li><strong class="text-primary-300">User-Friendly Interface:</strong> Prioritize a clean and intuitive interface that is easy to navigate, ensuring a seamless user experience for both onsite and remote team members.</li>
    <li><strong class="text-primary-300">Integration with Existing Music Apps:</strong> Explore the possibility of integrating the app with popular music platforms, allowing users to synchronize their favorite music and create shared playlists for team bonding and a unified vibe. (Will not be added in the MVP)</li>
    <li><strong class="text-primary-300">Seamless Integration with Messaging Platforms:</strong> Develop integrations with widely used messaging platforms like Slack and Microsoft Teams to facilitate easy access and engagement with the mindfulness app within the existing communication channels of teams. (Will not be added in the MVP)</li>
    <li><strong class="text-primary-300">Real-time Notifications:</strong> Implement a feature that sends periodic reminders and notifications to encourage users to take a breath, destress, or engage in a short mindfulness activity, helping to create moments of relaxation and focus throughout the workday.</li>
    <li><strong class="text-primary-300">Analytics and Reporting:</strong> Provide users with analytics and reports on their individual and team engagement, progress, and mental well-being. Weekly or monthly summaries can offer valuable insights for individuals and team leaders to track improvements and identify areas for further support.</li>
    <li><strong class="text-primary-300">Group Activities and Discussions:</strong> Enable team-wide activities such as group meditations, followed by the option for team members to engage in short discussions or reflections. This fosters a sense of togetherness, encourages open communication, and promotes team bonding.</li>
    <li><strong class="text-primary-300">Visual Indicators of Mental Health:</strong> Incorporate visual indicators or mood tracking features that allow team members to gauge their mental well-being and provide an overview of the team's collective mental health. This can serve as a valuable tool for individuals and team leaders to address any concerns or provide necessary support.</li>
  </ol>
</div></section></div>

<hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="define">
  <section class="mb-12">
  <div class="mb-8">
    <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-200">Define</h3>
    <h4 class="text-lg font-semibold text-primary-700 dark:text-primary-400">journey map</h4>  
    <img src="../../../public/assets/Projects/Sanarte/journey-map.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
    <hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">
    <h4 class="text-lg font-semibold text-primary-700 dark:text-primary-400">persona 1</h4>  
    <img src="../../../public/assets/Projects/Sanarte/persona-1.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
    <hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">
    <h4 class="text-lg font-semibold text-primary-700 dark:text-primary-400">persona 2</h4>  
    <img src="../../../public/assets/Projects/Sanarte/persona-2.webp" alt="Chart" class="rounded-lg shadow-md mt-4">

  </div></section></div>

<hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="wireframes">
  <section class="mb-12">
  <div class="mb-8">
    <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-200">Wireframes</h3>
    <img src="../../../public/assets/Projects/Sanarte/WFs.webp" alt="Chart" class="rounded-lg shadow-md mt-4">

  </div></section></div>
  

<hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="testing">
  <section class="mb-12 max-w-full">
    <h2 class="text-2xl font-semibold mb-4 text-primary-900 dark:text-white">Testing</h2>
    
    <blockquote class="text-primary-400 dark:text-primary-400 italic border-l-4 border-primary-600 pl-4 mb-8">
      We wanted to verify that the UI works fine with different users and to track if anything goes wrong throughout their process, so we choose the 4 biggest tasks the user will do in the app, and measured the user, clicks and attempts while also watching the user while doing the tasks, track his eyes emotions and getting him to talk to notice if anything isn’t clear enough.
    </blockquote>

    <!-- User 1 -->
    <h3 class="text-lg font-medium text-primary-200 dark:text-primary-200 mb-4">User 1</h3>
    <div class="max-w-full overflow-x-auto rounded-xl">
      <table class="w-full bg-primary-800 rounded-xl divide-y divide-primary-600 dark:divide-primary-600">
        <thead class="bg-primary-800 dark:bg-primary-800 rounded-xl">
    <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Task</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Clicks</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Attempts</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Completed?</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Time to complete (sec)</th>
          </tr>
        </thead>
        <tbody class="bg-primary-900 divide-primary-700 dark:bg-primary-900 dark:divide-primary-700">
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Sign up</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">2</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">5</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Start session</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">3</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Answer the Conversational UI, and complete the survey</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">10 (for 7 steps)</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">40</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Check insights and analytics</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">10</td>
          </tr>
        </tbody>
      </table></div>
    </div>

    <!-- User 2 -->
    <h3 class="text-lg font-medium text-primary-200 dark:text-primary-200 mb-4 mt-8">User 2</h3>
    <div class="max-w-full overflow-x-auto rounded-xl">
      <table class="w-full bg-primary-800 rounded-xl divide-y divide-primary-600 dark:divide-primary-600">
        <thead class="bg-primary-800 dark:bg-primary-800 rounded-xl">
      <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Task</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Clicks</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Attempts</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Completed?</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Time to complete (sec)</th>
          </tr>
        </thead>
        <tbody class="bg-primary-900 divide-primary-700 dark:bg-primary-900 dark:divide-primary-700">
          <tr>
            </td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Sign up</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">2</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">3</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Start session</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">2</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">20</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Answer the Conversational UI, and complete the survey</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">30 (for 7 steps)</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">130</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Check insights and analytics</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">15</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- User 3 -->
    <h3 class="text-lg font-medium text-primary-200 dark:text-primary-200 mb-4 mt-8">User 3</h3>
    <div class="max-w-full overflow-x-auto rounded-xl">
      <table class="w-full bg-primary-800 rounded-xl divide-y divide-primary-600 dark:divide-primary-600">
        <thead class="bg-primary-800 dark:bg-primary-800 rounded-xl">
      <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Task</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Clicks</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Attempts</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Completed?</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-primary-200/70 uppercase tracking-wider min-w-[160px]">Time to complete (sec)</th>
          </tr>
        </thead>
        <tbody class="bg-primary-900 divide-primary-700 dark:bg-primary-900 dark:divide-primary-700">
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Sign up</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">2</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">10</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Start session</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">10</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Answer the Conversational UI, and complete the survey</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">14 (for 7 steps)</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">80</td>
          </tr>
          <tr>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">Check insights and analytics</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">1</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">yes</td>
            <td class="content-start items-start min-w-[240px] lg:min-w-0  max-w-max   px-6 py-4 text-sm text-primary-200">20</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Additional Insights -->
    <aside class="bg-primary-900 dark:bg-primary-800 rounded-xl p-6 mt-8 text-primary-400 dark:text-primary-400">
      <h4 class="text-lg font-semibold text-primary-200 dark:text-primary-200">💼 Some additional insights found</h4>
      <ul class="list-disc pl-5 space-y-2 mt-4">
        <li>The invite button's placement isn't ideal. Users have to use their second hand to reach it, and the friends' circles are at the bottom while the invite button is at the top.</li>
        <li>The side menu placement is unnecessary.</li>
        <li>Some analytics are in the profile, while others are in the analytics tab. It would make sense to place them all in one location.</li>
        <li>The Conversational UI takes up the entire page, which isn't needed as users don't type much. Most actions are survey-based, with multi-choice buttons and minimal text input.</li>
        <li>Users requested faster login options, such as biometric authentication.</li>
      </ul>
    </aside>
  </section>
  <hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="style-guide">
  <section class="mb-12">
  <div class="mb-8">
    <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-200">Style Guide</h3>
    <h4 class="text-lg font-semibold text-primary-700 dark:text-primary-400">Colors</h4>  
    <img src="../../../public/assets/Projects/Sanarte/Color.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
    <img src="../../../public/assets/Projects/Sanarte/Color-Greyscale.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
    <img src="../../../public/assets/Projects/Sanarte/Color-Gradient.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
    <hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">
    <h4 class="text-lg font-semibold text-primary-700 dark:text-primary-400">Typography</h4>  
    <img src="../../../public/assets/Projects/Sanarte/Typography.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
    <img src="../../../public/assets/Projects/Sanarte/TypographyTest.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
    <hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">
    <h4 class="text-lg font-semibold text-primary-700 dark:text-primary-400">Misc.</h4>  
    <img src="../../../public/assets/Projects/Sanarte/Shadows.webp" alt="Chart" class="rounded-lg shadow-md mt-4">



  </div></section></div>

  <hr style="border: 1px solid #4d4d4d; margin-bottom: 40px; margin-top: 40px;">

<div id="ui-design">
  <section class="mb-12">
  <div class="mb-8">
    <h3 class="text-xl font-semibold text-primary-700 dark:text-primary-200">UI Design</h3>
    <img src="../../../public/assets/Projects/Sanarte/ui1.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
    <img src="../../../public/assets/Projects/Sanarte/ui2.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
    <img src="../../../public/assets/Projects/Sanarte/ui3.webp" alt="Chart" class="rounded-lg shadow-md mt-4">
  </div></section></div>

</div>




</article>
  </div>
</main>
