<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6 items-center align-middle">
      <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-xl text-2xl sm:text-2xl">
        🎉 Looking for a UI/UX designer who can make your product stand out like a flamingo in a flock of pigeons? Look no further, my friend!
      </p>
      <a
          href=""
          class="min-w-max bg-primary-600 dark:bg-primary-200 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-1 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 w-fit"
          onclick=" window.open('https://drive.google.com/file/d/17gjXpoyjISAdNi6Jw8E-3052SkGq1TRc/view?usp=sharing','_blank')"
        >
          Download CV
        </a>
    </div>
  </div>
</section>
