---
const stats = [
  {
    name: 'Years',
    value: '4',
  },
 
  {
    name: 'Projects',
    value: '40+',
  },
  {
    name: 'UX Courses Taken',
    value: '80+',
  },
  {
    name: 'Brands Worked with',
    value: "25",
  },
];
import BadgesAbout from "../home/badgesAbout.astro";
---

<section class="py-16 sm:py-20 fade-up">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <div><img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        aspect-ratio="3/4"
        src="/assets/about.webp"
        alt="Maher"
        loading="lazy" 
      />
      <BadgesAbout />
    </div>
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Overview</h2>
          <div class="space-y-6">
            <p class="text-primary-200/70 dark:text-primary-200/70 text-base sm:text-lg italic">
              "UX design transcends mere aesthetics—it's a journey into fulfilling user needs and desires."
            </p>
            <p class="text-primary-200/70 dark:text-primary-200/70 text-base sm:text-lg">
              As a seasoned UI/UX Designer, my portfolio is a testament to my profound journey in crafting intuitive user interfaces and enriching user experiences. My expertise is honed through diverse engagements ranging from volunteering at prestigious organizations such as the United Nations, TEDx, Enactus, ASME, and Mansoura Motorsport, to professional experiences that span across leading entities like AZMX, Al Rajhi Bank, and Contact Financial Holding.
            </p>
            <p class="text-primary-200/70 dark:text-primary-200/70 text-base sm:text-lg">
              My journey also includes pivotal roles at GameIT, an enriching internship at Algoriza, and impactful freelance projects on Upwork for esteemed clients including SuperSight, Theradome, the Mit Olin Foundation, Konica Minolta, Solidity Studios, Brackets, IterationX, Phonic, and more.
            </p>
            <p class="text-primary-200/70 dark:text-primary-200/70 text-base sm:text-lg">
              My tenure as an Ambassador for the British Council at my university further polished my skills in customer service, public relations, and presentation. There, I not only bridged the council with the university but also led the organization of two major events, each attracting over 200 attendees.
            </p>
            <p class="text-primary-200/70 dark:text-primary-200/70 text-base sm:text-lg">
              My journey is a blend of creativity, empathy, and strategy, aimed at delivering memorable experiences and strategic value to every project I undertake.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-300/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
