---
const stats = [
  {
    name: 'Years',
    value: '< 2',
  },
  {
    name: 'Years as volunteer',
    value: '> 3',
  },
  {
    name: 'Projects',
    value: '18',
  },
  {
    name: 'Brands Worked with',
    value: "14",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        aspect-ratio="3/4"
        src="/assets/about.webp"
        alt="Maher"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Overview</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              "UX design is not just about aesthetics, it's about understanding and satisfying user needs." 
              <br> Chatgpt when I asked him about a quote to use</b> 
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              I am an experienced UI/UX Designer with extensive knowledge and expertise in creating graphical user interfaces and user experiences. With an Experience in design through volunteering in multiple organizations Like United Nations, TEDx, Enactus, ASME, and Mansoura Motorsport.
              <br><br>In addition to the Outstanding Experience from my work with <b>contact financial holding</b>, my part-time work with <b>GameIT</b>, my Internship with <b>Algoriza</b>, and My freelance work in <b>Upwork</b> with some amazing clients like <b>Theradome, Mit Olin foundation, konica minolta, solidity studios, Brackets, IterationX, Phonic, </b>and many others.

            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              In addition to the Experience, I got from my internship with the <b>British council</b> as an Ambassador at my University where I took training on customer service, PR, and Presentation to serve as a liaison between the <b>British Council</b> and My university while conducting <b>2 Mega Events (over 200 Attendees)</b>.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
