---
import About from '../components/home/About.astro';
import Cta from '../components/home/Cta.astro';
import Expertise from '../components/home/Expertise.astro';
import Hero from '../components/home/Hero.astro';
import Services from '../components/home/Services.astro';
import Testimonials from '../components/home/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
import Logos from '../components/home/Logos.astro';
import {Mockup} from '../components/home/Mockup.jsx';
---

<Layout
  description="Maher Fayad Product Designer | Telekinesis Expert | Elevating User Experiences | Bridging the Gap with Your Product | Let's Boost Your UX!"
  title="Maher Fayad"
>
  <Hero />
  <Services />
  <div class="fade up w-0 h-0 opacity-0 sm:w-auto sm:h-auto sm:opacity-100 sm:mt-24 sm:mb-24"><Mockup/></div>
  <Logos />
  <About />
  <Expertise />
  <Testimonials />
  <Cta />

</Layout>
../components/home/Mockup.jsx