<section class="py-8 lg:py-8 md:py-8 fade-up">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 h-1/5">
    <div class="flex lg:flex-row flex-col-reverse items-end lg:items-center md:items-center gap-0 lg:gap-72 md:gap-24">
      <div class="flex max-w-xl min-w-base flex-col  items-start  gap-4 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            <span class="text-primary-950/70 dark:text-primary-300/70 text-3xl">Hi there!</span> <br> <span>I am <b class="text-primart-100">Maher Fayad</b> <br>a product designer</span>
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            I'm a Product designer with more tricks up my sleeve than any magician you know.
          </p>
        </div>
        <a
          href="/contact"
          class="text-center whitespace-nowrap px-4 bg-primary-600 dark:bg-primary-200 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent py-1 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >Say hi
        </a>
      </div>
      <img
      src="/assets/Maher.png"
      alt="Maher Fayad Character"
      max-width="400vw"
      class="max-h-56 lg:max-h-96 md:max-h-96 items-end align-righ"/>
    </div>
    
  </div>
</section>
