---
const logo = [
    {
    name: 'LFG',
    image: '/assets/Logos/LFG.png',
    link: 'https://cryptowrex.com/',
    },
    {
    name: 'AlRajhi Bank',
    image: '/assets/Logos/Rajhi.png',
    link: 'https://www.alrajhibank.com.sa/en/',
    },
    {
    name: 'AZMX',
    image: '/assets/Logos/AZMX.png',
    link: 'https://azmx.sa/en/',
    },
    {
    name: 'Theradome',
    image: '/assets/Logos/theradome.png',
    link: 'https://theradome.com/',
    },
    {
    name: 'Mit-olins',
    image: '/assets/Logos/Mit-olin.png',
    link: 'https://www.miltolinfoundation.org/',
    },
    {
    name: 'Contact',
    image: '/assets/Logos/Contact.png',
    link: 'https://contact.eg/',
    },
    {
    name: 'Konica',
    image: '/assets/Logos/konica-minolta.png',
    link: 'https://www.konicaminolta.us/',
    },
    {
    name: 'IterationX',
    image: '/assets/Logos/iterationX.png',
    link: 'https://www.iterationx.com/',
    },
    {
    name: 'Solidity Law',
    image: '/assets/Logos/Solidity-Law.png',
    link: 'https://www.soliditylaw.com/',
    }, 
    {
    name: 'GameIt',
    image: '/assets/Logos/gameit-logo-large.png',
    link: 'https://gameit.ai/',
    },     
    {
    name: 'Solidity Studios',
    image: '/assets/Logos/Solidity-Studios.png',
    link: 'https://www.soliditylabs.com/',
    },
     
];
---

<div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8 py-8 fade-up">
  <h2 class="text-3xl font-medium tracking-tight sm:text-4xl py-8">Worked With These amazing brands</h2>
  <div class="grid lg:gap-8 md:gap-8 lg:grid-cols-4 md:grid-cols-2 grid-cols-2 gap-2 items-center align-middle">
    {
      logo.map((logo) => (
        <div class="bg-primary-800 bg-opacity-50 dark:bg-opacity-50 flex flex-col gap-4 align-middle items-center rounded-md px-4 py-8">
          <a href={logo.link} target="_blank" rel="noopener noreferrer"> {/* Added anchor tag */}
            <img class="aspect-[5.17] md:aspect-[5.17] sm:aspect-[5.17] lg:aspect-[5.17] items-center align-middle" src={logo.image} alt={logo.name} />
          </a>
        </div>
      ))
    }
  </div>
</div>
