---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-500.css';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';
import { SEO } from "astro-seo";
import emailjs from 'emailjs-com';

// @astro/internal/no-reload


interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" x-cloak x-data class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={title} />
    <meta name="description" content={description} />
    <meta property="og:title" content="Maher Fayad" />
    <meta property="og:description" content="maher fayad is an experienced UI/UX Designer with extensive knowledge and expertise in creating graphical user interfaces and user experiences." />
    <meta property="og:image" content="/assets/Maher.png" />
    <SEO
      title="Maher Fayad"
      titleTemplate	="Maher Fayad"
      titleDefault="Maher Fayad"
      description="maher fayad is an experienced UI/UX Designer with extensive knowledge and expertise in creating graphical user interfaces and user experiences.      "
      openGraph={{
        basic: {
          title: "Maher Fayad Portfolio",
          type: "title",
          image: "/assets/Maher.png",
        }
      }}
      twitter={{
        creator: "MaherFayad"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/assets/Maher.png" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content:
              "/assets/Maher.png",
          },
          { name: "twitter:title", content: "Maher Fayad" },
          { name: "twitter:description", content: "maher fayad is an experienced UI/UX Designer with extensive knowledge and expertise in creating graphical user interfaces and user experiences." },
        ],
      }}></SEO>

    <title>{title}</title>
    
    <!-- Google Tag Manager -->
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W8V75P2Q');</script>
      <!-- End Google Tag Manager -->
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-4FMQJ9VWF9"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4FMQJ9VWF9');
      </script>

      <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "ixpkuh0p30");
      </script>
      <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
      </script>  
      <script type="text/javascript">
        (function(w, d, a){
            w.__beusablerumclient__ = {
                load : function(src){
                    var b = d.createElement("script");
                    b.src = src; b.async=true; b.type = "text/javascript";
                    d.getElementsByTagName("head")[0].appendChild(b);
                }
            };w.__beusablerumclient__.load(a + "?url=" + encodeURIComponent(d.URL));
        })(window, document, "//rum.beusable.net/load/b230930e134632u394");
        </script>
        <script>
          (function (m, a, z, e) {
            var s, t;
            try {
              t = m.sessionStorage.getItem('maze-us');
            } catch (err) {}
          
            if (!t) {
              t = new Date().getTime();
              try {
                m.sessionStorage.setItem('maze-us', t);
              } catch (err) {}
            }
          
            s = a.createElement('script');
            s.src = z + '?t=' + t + '&apiKey=' + e;
            s.async = true;
            a.getElementsByTagName('head')[0].appendChild(s);
            m.mazeUniversalSnippetApiKey = e;
          })(window, document, 'https://snippet.maze.co/maze-universal-loader.js', 'd09ba9c0-cdd6-469c-b002-a937ee31f95e');
          </script>  
      
  </head>
  <body
    class="dark bg-primary-900 text-primary-200 dark:bg-primary-900 dark:text-primary-200 antialiased transition"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8V75P2Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="bg-primary-900 bg-opacity-100 dark:bg-opacity-100 dark:bg-primary-900 sticky top-0 z-50 "><Header /></div>
    <main>
      <slot />
    </main transition:animate="slide">
    <Footer />
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
      .fade-up {
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 1.5s ease, transform 1.5s ease;
      }

      .fade-up.fade-up-active {
        opacity: 1;
        transform: translateY(0);
      }


    </style>

    <script>
      import Alpine from 'alpinejs';
      import collapse from '@alpinejs/collapse';

      Alpine.plugin(collapse);

      Alpine.store('theme', {
        init() {
          this.isDark = true; // Always set isDark to true to enforce dark mode.
        },
  
  isDark: true,
  
  // Other methods and properties...
});

      window.Alpine = Alpine;
      Alpine.start();

      // Function to handle the intersection observer callback
      function handleIntersection(entries, observer) {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('fade-up-active');
            observer.unobserve(entry.target);
          }
        });
      }

      // Create an intersection observer
      const observer = new IntersectionObserver(handleIntersection, {
        root: null,
        rootMargin: '8px',
        threshold: 0.1, // Adjust this value for when you want the animation to start
      });

      // Find all elements with the "fade-up" class and observe them
      const fadeUpElements = document.querySelectorAll('.fade-up');
      fadeUpElements.forEach((element) => {
        observer.observe(element);
      });

      // Add event listener to reinitialize on window resize (optional)
      window.addEventListener("resize", () => {
        scroll.update();
      });

      const redirectToThanks = () => {
        window.location.href = '/thanks';
      };

      const redirectTo404 = () => {
        window.location.href = '/404';
      };

      document.getElementById("Form").addEventListener("submit", function (e) {
        e.preventDefault(); // Prevent the form from submitting traditionally
        const form = document.getElementById("Form");
        emailjs
          .sendForm('service_lwri32l', 'template_hnydtuc', form, 'EX_A9-j_JtnnH7oPd')
          .then(
            (result) => {
              console.log(result.text);
              redirectToThanks();
            },
            (error) => {
              console.log(error.text);
              redirectTo404();
            }
          );
      });
    </script>
  </body>
</html>



